In [ ]:
#Questions:

In [1]:
#importing packages
import pandas as pd
import os
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
import random
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score

In [2]:
# Trying to set the seed
np.random.seed(0)
random.seed(0)

In [3]:
#importing data set(s)
filename = 'default of credit card clients.xls'
nanDict = {} #this does nothing with this data set
df = pd.read_excel(filename,header=1,skiprows=0,index_col=0,na_values=nanDict)
df.rename(index=str, columns={"default payment next month": "defaultPaymentNextMonth"}, inplace=True)
df.dropna()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,defaultPaymentNextMonth
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
6,50000,1,1,2,37,0,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
7,500000,1,1,2,29,0,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
8,100000,2,2,2,23,0,-1,-1,0,0,...,221,-159,567,380,601,0,581,1687,1542,0
9,140000,2,3,1,28,0,0,2,0,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0
10,20000,1,3,2,35,-2,-2,-2,-2,-1,...,0,13007,13912,0,0,0,13007,1122,0,0
11,200000,2,3,2,34,0,0,2,0,0,...,2513,1828,3731,2306,12,50,300,3738,66,0
12,260000,2,1,2,51,-1,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
13,630000,2,2,2,41,-1,0,-1,-1,-1,...,6500,6500,2870,1000,6500,6500,6500,2870,0,0
14,70000,1,2,2,30,1,2,2,0,0,...,66782,36137,36894,3200,0,3000,3000,1500,0,1
15,250000,1,1,2,29,0,0,0,0,0,...,59696,56875,55512,3000,3000,3000,3000,3000,3000,0
16,50000,2,3,3,23,1,2,0,0,0,...,28771,29531,30211,0,1500,1100,1200,1300,1100,0
17,20000,1,1,2,24,0,0,2,2,2,...,18338,17905,19104,3200,0,1500,0,1650,0,1
18,320000,1,1,1,49,0,0,0,-1,-1,...,70074,5856,195599,10358,10000,75940,20000,195599,50000,0
19,360000,2,1,1,49,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
20,180000,2,1,2,29,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
21,130000,2,3,2,39,0,0,0,0,0,...,20616,11802,930,3000,1537,1000,2000,930,33764,0
22,120000,2,2,1,39,-1,-1,-1,-1,-1,...,0,632,316,316,316,0,632,316,0,1
23,70000,2,2,2,26,2,0,0,2,2,...,44006,46905,46012,2007,3582,0,3601,0,1820,1
24,450000,2,1,1,40,-2,-2,-2,-2,-2,...,560,0,0,19428,1473,560,0,0,1128,1
25,90000,1,1,2,23,0,0,0,-1,0,...,5398,6360,8292,5757,0,5398,1200,2045,2000,0
26,50000,1,3,2,23,0,0,0,0,0,...,28967,29829,30046,1973,1426,1001,1432,1062,997,0
27,60000,1,1,2,27,1,-2,-1,-1,-1,...,-57,127,-189,0,1000,0,500,0,1000,1
28,50000,2,3,2,30,0,0,0,0,0,...,17878,18931,19617,1300,1300,1000,1500,1000,1012,0
29,50000,2,3,1,47,-1,-1,-1,-1,-1,...,2040,30430,257,3415,3421,2044,30430,257,0,0
30,50000,1,1,2,26,0,0,0,0,0,...,17907,18375,11400,1500,1500,1000,1000,1600,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29971,360000,1,1,1,34,-1,-1,-1,0,0,...,49005,8676,19487,52951,64535,8907,53,19584,16080,0
29972,80000,1,3,1,36,0,0,0,0,0,...,69674,71070,73612,2395,2500,2530,2556,3700,3000,0
29973,190000,1,1,1,37,0,0,0,0,0,...,29223,19616,148482,2000,3869,25128,10115,148482,4800,0
29974,230000,1,2,1,35,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
29975,50000,1,2,1,37,1,2,2,2,0,...,2846,1585,1324,0,3000,0,0,1000,1000,1
29976,220000,1,2,1,41,0,0,-1,-1,-2,...,5924,1759,1824,8840,6643,5924,1759,1824,7022,0
29977,40000,1,2,2,47,2,2,3,2,2,...,51259,47151,46934,4000,0,2000,0,3520,0,1
29978,420000,1,1,2,34,0,0,0,0,0,...,141695,144839,147954,7000,7000,5500,5500,5600,5000,0
29979,310000,1,2,1,39,0,0,0,0,0,...,219409,216540,210675,10029,9218,10029,8049,8040,10059,0
29980,180000,1,1,1,32,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29981,50000,1,3,2,42,0,0,0,0,0,...,50360,19971,19694,10000,4000,5000,3000,4500,2000,0
29982,50000,1,2,1,44,1,2,2,2,0,...,28192,22676,14647,2300,1700,0,517,503,585,0
29983,90000,1,2,1,36,0,0,0,0,0,...,11328,12036,14329,1500,1500,1500,1200,2500,0,1
29984,20000,1,2,1,44,-2,-2,-2,-2,-2,...,2882,9235,1719,2890,2720,2890,9263,1824,1701,0
29985,30000,1,2,2,38,-1,-1,-2,-1,-1,...,1993,1907,3319,923,2977,1999,3057,3319,1000,0
29986,240000,1,1,2,30,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29987,360000,1,1,2,35,-1,-1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29988,130000,1,1,2,34,0,0,0,0,0,...,108047,93708,97353,3000,2000,93000,4000,5027,4005,0
29989,250000,1,1,1,34,0,0,0,0,0,...,245750,175005,179687,65000,8800,9011,6000,7000,6009,0
29990,150000,1,1,2,35,-1,-1,-1,-1,-1,...,780,0,0,9054,0,783,0,0,0,0
29991,140000,1,2,1,41,0,0,0,0,0,...,138262,49675,46121,6000,7000,4228,1505,2000,2000,0
29992,210000,1,2,1,34,3,2,2,2,2,...,2500,2500,2500,0,0,0,0,0,0,1
29993,10000,1,3,1,43,0,0,0,-2,-2,...,0,0,0,2000,0,0,0,0,0,0
29994,100000,1,1,2,38,0,-1,-1,0,0,...,70626,69473,55004,2000,111784,4000,3000,2000,2000,0
29995,80000,1,2,2,34,2,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,1
29996,220000,1,3,1,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29997,150000,1,3,2,43,-1,-1,-1,-1,0,...,8979,5190,0,1837,3526,8998,129,0,0,0
29998,30000,1,2,2,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29999,80000,1,3,1,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
30000,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [4]:
# Features and targets 
X = df.loc[:, df.columns != 'defaultPaymentNextMonth'].values
y = df.loc[:, df.columns == 'defaultPaymentNextMonth'].values
# above makes all columns except the last 
# into features, and the last is targets
# trainingShare = 0.5 

# XTrain, XTest, yTrain, yTest=train_test_split(X, y, train_size=trainingShare, \
#                                               test_size = 1-trainingShare,
#                                              random_state=seed)

# sc = StandardScaler()
# #removes mean, scales by std
# XTraint = sc.fit_transform(XTrain)
# XTestt = sc.transform(XTest)

# print(pd.DataFrame(XTraint))

In [10]:
# Categorical variables to one-hot's
onehotencoder = OneHotEncoder(categories="auto")
# sets number of elements in onehot vectors automatically, from data.
Xt= ColumnTransformer(
    [("", onehotencoder, [1,2,3]),],
    remainder="passthrough"
).fit_transform(X)
print(np.shape(Xt))

(30000, 33)

In [11]:
# Train-test split
trainingShare = 0.5 
seed  = 1
XTrain, XTest, yTrain, yTest=train_test_split(Xt, y, train_size=trainingShare, \
                                              test_size = 1-trainingShare,
                                             random_state=seed)

In [13]:
# Input Scaling
sc = StandardScaler()

# Remove one-hots
X_scale = np.c_[XTrain[0],XTrain[14:]]
#removes mean, scales by std
XTraint = sc.fit_transform([XTrain[0],XTrain[14:]])
XTestt = sc.transform(XTest)
print(XTraint[:5])

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [ ]:
# One-hot's of the target vector
Y_train_onehot, Y_test_onehot = onehotencoder.fit_transform(yTrain), onehotencoder.fit_transform(yTest)
#takes an array like [0,0,1,0,1,1,0]
#turns into a scipy compressed sparse row matrix, where a sparse matrix is stored by
# three vectors A, IA and JA
# A = all non-zero values, row major order
# IA = cumulative number of nonzero elements per row, IA[0]=0 by definition,
# JA =  the column index of each element of A
# See full matrix shape by Y_train_onehot.todense()

In [ ]:
# Remove instances with zeros only for past bill statements or paid amounts
'''
df = df.drop(df[(df.BILL_AMT1 == 0) &
                (df.BILL_AMT2 == 0) &
                (df.BILL_AMT3 == 0) &
                (df.BILL_AMT4 == 0) &
                (df.BILL_AMT5 == 0) &
                (df.BILL_AMT6 == 0) &
                (df.PAY_AMT1 == 0) &
                (df.PAY_AMT2 == 0) &
                (df.PAY_AMT3 == 0) &
                (df.PAY_AMT4 == 0) &
                (df.PAY_AMT5 == 0) &
                (df.PAY_AMT6 == 0)].index)
'''
df = df.drop(df[(df.BILL_AMT1 == 0) &
                (df.BILL_AMT2 == 0) &
                (df.BILL_AMT3 == 0) &
                (df.BILL_AMT4 == 0) &
                (df.BILL_AMT5 == 0) &
                (df.BILL_AMT6 == 0)].index)

df = df.drop(df[(df.PAY_AMT1 == 0) &
                (df.PAY_AMT2 == 0) &
                (df.PAY_AMT3 == 0) &
                (df.PAY_AMT4 == 0) &
                (df.PAY_AMT5 == 0) &
                (df.PAY_AMT6 == 0)].index)

#This seems to have dropped nobody in this data set

In [ ]:
lambdas=np.logspace(-5,7,13)
parameters = [{'C': 1./lambdas, "solver":["lbfgs"]}]#*len(parameters)}]
scoring = ['accuracy', 'roc_auc']
logReg = LogisticRegression(max_iter=1e6)
gridSearch = GridSearchCV(logReg, parameters, cv=5, scoring=scoring, refit='roc_auc')
#roc_auc and accuracy (and confusion_matrix) not imported, yet seems to work?

In [ ]:
# "refit" gives the metric used deciding best model. 
# See more http://scikit-learn.org/stable/auto_examples/model_selection/plot_multi_metric_evaluation.html
gridSearch.fit(XTrain, yTrain.ravel())
;

In [ ]:
def gridSearchSummary(method, scoring):
    """Prints best parameters from Grid search
    and AUC with standard deviation for all 
    parameter combos """
    
    method = eval(method)
    if scoring == 'accuracy':
        mean = 'mean_test_accuracy'
        sd = 'std_test_accuracy'
    elif scoring == 'auc':
        mean = 'mean_test_roc_auc'
        sd = 'std_test_roc_auc'
    print("Best: %f using %s" % (method.best_score_, method.best_params_))
    means = method.cv_results_[mean]
    stds = method.cv_results_[sd]
    params = method.cv_results_['params']
    for mean, stdev, param in zip(means, stds, params):
        print("%f (%f) with: %r" % (mean, stdev, param))

In [ ]:
gridSearchSummary('gridSearch','accuracy')
gridSearchSummary('gridSearch','auc')

In [ ]:
def createConfusionMatrix(method, printOut=True):
    """
    Computes and prints confusion matrices, accuracy scores,
    and AUC for test and training sets 
    """
    confusionArray = np.zeros(6, dtype=object)
    method = eval(method)
    
    # Train
    yPredTrain = method.predict(XTrain)
    yPredTrain = (yPredTrain > 0.5)
    cm = confusion_matrix(
        yTrain, yPredTrain) 
    cm = np.around(cm/cm.sum(axis=1)[:,None], 2)
    confusionArray[0] = cm
    
    accScore = accuracy_score(yTrain, yPredTrain)
    confusionArray[1] = accScore
    
    AUC = roc_auc_score(yTrain, yPredTrain)
    confusionArray[2] = AUC
    
    if printOut:
        print('\n###################  Training  ###############')
        print('\nTraining Confusion matrix: \n', cm)
        print('\nTraining Accuracy score: \n', accScore)
        print('\nTrain AUC: \n', AUC)
    
    # Test
    yPred = method.predict(XTest)
    yPred = (yPred > 0.5)
    cm = confusion_matrix(
        yTest, yPred) 
    cm = np.around(cm/cm.sum(axis=1)[:,None], 2)
    confusionArray[3] = cm
    
    accScore = accuracy_score(yTest, yPred)
    confusionArray[4] = accScore
    
    AUC = roc_auc_score(yTest, yPred)
    confusionArray[5] = AUC
    
    if printOut:
        print('\n###################  Testing  ###############')
        print('\nTest Confusion matrix: \n', cm)
        print('\nTest Accuracy score: \n', accScore)
        print('\nTestAUC: \n', AUC)    
    
    return confusionArray

In [ ]:
gulp = createConfusionMatrix('gridSearch')

In [ ]:
import matplotlib.pyplot as plt
import seaborn
import scikitplot as skplt

import warnings
import matplotlib.cbook
warnings.filterwarnings("ignore",category=matplotlib.cbook.mplDeprecation)

seaborn.set(style="white", context="notebook", font_scale=1.5, 
            rc={"axes.grid": True, "legend.frameon": False,
"lines.markeredgewidth": 1.4, "lines.markersize": 10})
seaborn.set_context("notebook", font_scale=1.5, rc={"lines.linewidth": 4.5})

yPred = gridSearch.predict_proba(XTest) 
print(yTest.ravel().shape, yPred.shape)

#skplt.metrics.plot_cumulative_gain(yTest.ravel(), yPred_onehot)
skplt.metrics.plot_cumulative_gain(yTest.ravel(), yPred)

defaults = sum(yTest == 1)
total = len(yTest)
defaultRate = defaults/total
def bestCurve(defaults, total, defaultRate):
    x = np.linspace(0, 1, total)
    
    y1 = np.linspace(0, 1, defaults)
    y2 = np.ones(total-defaults)
    y3 = np.concatenate([y1,y2])
    return x, y3

x, best = bestCurve(defaults=defaults, total=total, defaultRate=defaultRate)    
plt.plot(x, best)    


plt.show()

# b starts here i guess

In [ ]:
"""
Takes two arrays of equal length and calculates the "Accuracy score"
"""
def Accuracy(t,y):
    n = len(t)
    m = len(y)
    if m!=n:
        print("Vectors passed to the Accuracy function is of different lengths.")
        return 0
    s = [1 if i else 0 for i in np.equal(t,y)]
    return np.sum(s)/n

In [ ]:
a=[1,2,3]
b=[1,7,3,9]
zz = Accuracy(a,b)
print(zz)
a=[1,2,3]
b=[1,7,3]
zz = Accuracy(a,b)
print(zz)

In [ ]:
# set initial stuff
N_epochs = 10
N_batches = 5
validation_portion=0.1
theta = np.random.randn(Xt.shape[1]-1,1)
eta = 0.1
# Create shuffled dataset
df.sample(frac=1)
print(np.shape(Xt))
#Split into train and validation
Xtrain,Xtest,ytrain,ytest = train_test_split(Xt[:,:-1],Xt[:,-1],test_size=validation_portion)
# Xtrain,Xtest,ytrain,ytest = train_test_split(df.drop(['defaultPaymentNextMonth'],axis=1),df['defaultPaymentNextMonth'],test_size=validation_portion)

# print(np.shape(Xtrain))
# Split data into minibatches
batch_len = int(Xtrain.shape[1]/N_batches)+1
batches=[]
batch_targets=[]
for i in range(N_batches):
    batches.append(Xtrain[i*batch_len:(i+1)*batch_len][:])
    batch_targets.append(ytrain[i*batch_len:(i+1)*batch_len][:])

# do all the stuff!
bipp = []
for j in range(1,N_epochs+1):
    for i in range(N_batches):
        for h in range((batches[i]).shape[0]):
            bat = batches[i][h].toarray()
            tar = batch_targets[i][h].toarray()
            gradients = 2.0*bat.T@((bat@theta)-tar)
#             print(gradients)
            bipp.append(gradients)
#             theta -= eta*gradients
#             print(eta*gradients)
#     #         z=
#             print(np.shape(gradients))
#             print(np.shape(gradients))
            a=0
# print(theta)

In [ ]:
print(np.max(bipp))

In [ ]:
from sklearn.linear_model import SGDRegressor
import numpy
sgdreg = SGDRegressor(tol=1e-3,max_iter = 500, penalty=None, eta0=0.1)
sgdreg.fit(X,y.ravel())
print("sgdreg from scikit")
print(sgdreg.intercept_,sgdreg.coef_)

In [ ]:
no scaling or onehotting performed...